nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 100vw;
  height: 10rem;
}
.top {
  width: 80vw;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.icons a {
  float: left;
  color: var(--color-secundary-dark);
  text-decoration: none;
  padding: 1rem;
  font-size: 1.4rem;
}

.logo {
  margin-bottom: 3rem;
  margin-left: auto;
}
.icons a:hover {
  color: rgb(207, 207, 0);
}
.icons-nav {
  list-style-type: none;
  margin-bottom: -3rem;
  font-weight: 600;
}
